<html>
    <head>
        <link rel="stylesheet" href="/css/anal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>

    <body>
        <nav>
            
            <ul>
                <li style="margin-left: 11%; text-transform: uppercase; color: #2c365d; font-weight: bolder;float: left;font-size: x-large;"><a href="/">COVID CARE</a></li>
                <div style="float: right;margin-right: 13%;">
                    <li><a href="/bot">Help Bot</a></li>
                    <li><a href="/dash">Dashboard</a></li>
                    <li><a href="/analytics">Analytics</a></li>
                    <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <%	} else { %>
                    <li><a href="/logout">Logout</a></li>
                    <%	} %>	
                </div>
               
            </ul>
        </nav>
       
		
		
<div class="ocontainer">
    
    <div class="info">
        <h1>Analytics</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati perferendis fugit minima mollitia autem nesciunt laboriosam cupiditate eos vero. Nostrum eveniet qui accusantium rem accusamus totam, perferendis repellendus sint cum?</p>
    </div>
    <canvas id="canvas1" style="max-width:800px; max-height:800px; margin-left: auto;margin-right: auto;margin-top: 4%;"></canvas>
    <canvas id="canvas2" style="max-width:800px; max-height:800px; margin-left: auto;margin-right: auto;margin-top: 4%;"></canvas>
</div>  
<%  let v=hospital.ventilators; let b=hospital.beds %>
<% let r=hospital.recovered;let d=hospital.deceased;let a=hospital.admitted; %>
</body>
</html>
<script>
              $(document).ready(function() {

                   l1=['Ventilators','Beds'];
                   c1=[<%=v %>,<%= b %> ];
                    var chardata = {
                        labels: l1,
                        datasets: [{
                            label: 'Availabilty',
                            data: c1,
                        }]
                    }

                    var ctx1 = $("#canvas1");

                    var piegraph = new Chart(ctx1, {
                        type: 'doughnut',
                        data: chardata
                    });

                    l2=['Recoverd','Admitted','Deceased'];
                    c2=[<%=r %>,<%=a %>,<%=d %>];
                    var chardata = {
                        labels: l2,
                        datasets: [{
                            label: 'Count',
                            data: c2,
                        }]
                    }

                    var ctx2 = $("#canvas2");

                    var bargraph = new Chart(ctx2, {
                        type: 'bar',
                        data: chardata
                    });



                });
</script>
