<html>
    <head>
        <link rel="stylesheet" href="/css/dash.css">
    </head>

    <body>
        <nav>
            
            <ul>
                <li style="margin-left: 11%; text-transform: uppercase; color: #2c365d; font-weight: bolder;float: left;font-size: x-large;"><a href="/">COVID CARE</a></li>
                <div style="float: right;margin-right: 13%;">
                    <li><a href="/bot">Help Bot</a></li>
                    <li><a href="/dash">Dashboard</a></li>
                    <li><a href="/analytics">Analytics</a></li>
                    <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <%	} else { %>
                    <li><a href="/logout">Logout</a></li>
                    <%	} %>
               
            </ul>
        </nav>

        
        <div class="container">
            

            <div class="info">
                <h1>Welcome To Covid Care</h1>
                <h3>Hospital Name:<%=hospital.name%></h3>
                <h3>Hospital Staff Name:<%=currentUser.ename%></h3>
                <ul class="one">
                    <li>Recovered Patients: <%=hospital.recovered%></li>
                    <li>Deceased Patients: <%=hospital.deceased%></li>
                    <li> Admitted Patients: <%=hospital.admitted%></li>
                </ul>
                <br>
                <ul class="two">
                    
                    <li> Ventilator Availability: <%=hospital.ventilators%></li>
                    <li> Bed Availability: <%=hospital.beds%></li>
                </ul>
            </div>

            <a href="/addpatient">
                <div class="card1">
                    <img src="/assets/mask.png" alt="">
                    <h4>Add Patient</h4>
                </div>

            </a>
            
            <a href="/viewall">
                <div class="card2">
                    <img src="/assets/pat1.jpg" alt="">
                    <h4>View Patient Details</h4>
                </div>
            </a>

            <a href="/modify">
                <div class="card3">
                    <img src="/assets/pat2.jpg" alt="">
                    <h4>Edit/Delete Patient Details</h4>
                </div>
            </a>


            </div>
            
            
           
    

    </body>
</html>